#order__now {
    position: relative;
    height: 574px;
    overflow: hidden;

    .content {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
}

.order__background__image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    object-fit: cover;
    object-position: center 15%;
}

.background__overlay {
    background-color: var(--coffee);
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.order__beans {
    z-index: 0;
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
}

.order__left {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 29px;
    flex: 0 1 auto;

    .order__head {
        width: 100%;
        color: #fff;
    }

    .paragraph {
        color: #fff;
        width: 425px;
    }
}

@media screen and (max-width: 450px) {
    #order__now {
        height: max-content;

        .content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .order__beans {
        height: auto;
        width: 50%;
    }

    .order__left {
        width: 100%;
        margin-bottom: 80px;

        .paragraph {
            width: 100%;
            text-align: start;
        }
    }

    .order__head {
        text-align: start;
        font-size: 30px;
    }

    .order__cup {
        position: absolute;
        height: 150px;
        width: auto;
        bottom: 30px;
        right: 20px;
    }
}