#intro {
    padding: 34px 0;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.intro__left {
    display: flex;
    flex-direction: column;
    gap: 29px;
    width: 620px;
    flex: 0 1 auto;
}

.intro__heading {
    width: 100%;
}

.intro__text {
    width: 585px;
}